body {
    margin: 0;
    padding: 0;
}

.miNombre {
    font-family: "Special Gothic Expanded One", sans-serif; 
    color: black;
    position: absolute;
    top: 0px;
    left: 700px;
    font-size: 20px;
}


 h1 span {
    font-size: 17px; 
    position: absolute;
    top: 30px;
    left: 500px;
    font-weight: 250;
 }


mark{
    padding: 5px 5px; 
}

h1.bienvenida {
    font-family: "Special Gothic Expanded One", sans-serif; 
    color: black;
    position: absolute;
    top: 225px;
    left: 700px;
}

h1 mark.programacion {
    border-radius: 25px;
    background-color: lightblue;
    padding: 1px 12px
}

.botones {
    position: absolute;
    top: 500px;
    left: 800px;
}

.boton {
    font-family: "Special Gothic Expanded One", sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none; 
    background-color: rgb(162, 131, 255);
    padding: 10px 20px; 
    border-radius: 25px;
    border: solid;
    
}
