body {
    margin: 0;
    padding: 0;
}

h1, p, a {
    font-family: "Special Gothic Expanded One", sans-serif; 
    color: black;
    
}


/* TITULO PRINCIPAL */
.miNombre {
    position: absolute;
    top: 0px;
    left: 700px;
    font-size: 20px;
}


 h1 span {
    font-size: 17px; 
    position: absolute;
    top: 30px;
    left: 500px;
    font-weight: 250;
 }


mark{
    padding: 5px 5px; 
}

/* PARRAFO DE BIENVENIDA */
h1.bienvenida {
    position: absolute;
    top: 225px;
    left: 700px;
}

h1 mark.programacion {
    border-radius: 25px;
    background-color: lightblue;
    padding: 1px 12px
}


/* FRASE CONOCEME */
.conoceme {
    position: absolute;
    top: 520px;
    left: 860px;
    
}

p mark {
    padding: 8px;
    border-radius: 25px;
    background-color: rgb(233, 233, 233);  
}


/* BOTONES-LINKS */
.botones {
    position: absolute;
    top: 600px;
    left: 800px;
}

.boton {
    font-size: 20px;
    text-decoration: none; 
    background-color: rgb(162, 131, 255);
    padding: 10px 20px; 
    border-radius: 25px;
    border: solid;
    
}

a:hover{
    color: white;
}


/* IMAGEN LENGUAJES */
.imagen {
    position: absolute;
    left:930px;
}

/* TEXTO SOBRE MI */
.textoSobreMi {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 15px;
    background-color: rgb(162, 131, 255);
    padding: 10px 20px; 
    border-radius: 25px;
    border: solid; 
}

/*LISTADO LENGUAJES */
.listaLenguajes {
    position: absolute;
    top: 340px;
    left: 90px;
    background-color: rgb(124, 217, 245);
    padding: 10px 20px; 
    border-radius: 25px;
    border: solid; 
}

.listaObjetivos {
    position: absolute;
    top: 345px;
    left: 400px;
    background-color: rgb(232, 232, 231);
    padding: 10px 20px; 
    border-radius: 25px;
    border: solid; 
}

#sobreMi {
    position: absolute;
    top: 15px; 
    left: 380px; 
    background-color: rgba(3, 206, 237, 0.784);
    padding: 10px 20px;
    border-radius: 35px;
}